@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kalam:wght@300;400;700&display=swap');
@import "tailwindcss";

body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  /* background-color: whitesmoke; */
}

p {
  padding-bottom: .5rem;
}

.special-font-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.special-font-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.special-font-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

#root {
  width: 100%;
}

.main {
  position: relative;
}

.notes-panel, .special-font {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.announcement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@media (min-width:100px) {
  .mobile {
    display: none;
  }
  .wrapper {
    height: 100vh;
  }
  .force-mobile-display {
    display: block!important;
  }
}

@media (max-width: 760px) {
  .main {
    overflow: auto;
  }
  .wrapper {
    height: 100vh;
    overflow: auto;
  }
  .note-panel {
    position: absolute;
    width: 100%;
    overflow: auto;
  }
}

@media (min-width:700px) {
  .mobile {
    display: block !important;
  }
  note-panel {
    position: block !important;
  }
  .hide {
    display: none;
  }
}